html {
  scroll-behavior: smooth;
}

#section-banner-card {
  border-radius: 10px;
  background-color: #d80032;
  text-align: justify;
  color: #f9dec9;
  margin: 20px;
  padding: 10px 15px 10px 15px;
  box-shadow: 15px 15px #3d0c11;
}

footer {
  background-color: #3d0c11;
  color: #f9dec9;
}

p,
h2,
h5,
img,
hr,
video {
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#link {
  text-decoration: none;
  color: #d80032;
}
