html {
  scroll-behavior: smooth;
}

footer {
  background-color: #3d0c11;
  color: #f9dec9;
}
p,
h2,
h5,
img,
hr,
video {
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#link {
  text-decoration: none;
  color: #d80032;
}
