html {
  scroll-behavior: smooth;
}

p,
h2,
h5,
img,
hr,
video {
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  background-color: #3d0c11;
  color: #f9dec9;
}

#hr {
  border: 1px solid;
}
#link {
  text-decoration: none;
  color: #d80032;
}
